export RDSBROKER_INTERNAL_DB_PROVIDER=sqlite3
export RDSBROKER_INTERNAL_DB_NAME=/tmp/broker.sqlite3
export RDSBROKER_ENCRYPTION_KEY=0001020304050607080910111213141516171819202122232425262728293031
export AWS_ACCESS_KEY_ID=your-aws-access-key-id
export AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
