# Required environment variables

export RDSBROKER_USERNAME=username
export RDSBROKER_PASSWORD=password
export RDSBROKER_INTERNAL_DB_PROVIDER=sqlite3
export RDSBROKER_INTERNAL_DB_NAME=/tmp/broker.sqlite3
export RDSBROKER_ENCRYPTION_KEY=0001020304050607080910111213141516171819202122232425262728293031
export AWS_ACCESS_KEY_ID=your-aws-access-key-id
export AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key

# All environment variables

# AWS_ACCESS_KEY_ID
# AWS_SECRET_ACCESS_KEY
# RDSBROKER_ENCRYPTION_KEY
# RDSBROKER_INTERNAL_DB_NAME
# RDSBROKER_INTERNAL_DB_PASSWORD
# RDSBROKER_INTERNAL_DB_PORT
# RDSBROKER_INTERNAL_DB_PROVIDER
# RDSBROKER_INTERNAL_DB_SSLMODE
# RDSBROKER_INTERNAL_DB_URL
# RDSBROKER_INTERNAL_DB_USERNAME
# RDSBROKER_SHARED_MYSQL_DB_NAME
# RDSBROKER_SHARED_MYSQL_DB_PASSWORD
# RDSBROKER_SHARED_MYSQL_DB_PORT
# RDSBROKER_SHARED_MYSQL_DB_SSLMODE
# RDSBROKER_SHARED_MYSQL_DB_URL
# RDSBROKER_SHARED_MYSQL_DB_USERNAME
# RDSBROKER_SHARED_POSTGRES_DB_NAME
# RDSBROKER_SHARED_POSTGRES_DB_PASSWORD
# RDSBROKER_SHARED_POSTGRES_DB_PORT
# RDSBROKER_SHARED_POSTGRES_DB_SSLMODE
# RDSBROKER_SHARED_POSTGRES_DB_URL
# RDSBROKER_SHARED_POSTGRES_DB_USERNAME